@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheaterApp.Employee</title>
    @*PRINT STYLE SHEET*@
    <link rel="stylesheet" href="~/css/print.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>

    <style>
        .userMarginTop {
            padding-top: 145%;
        }

        .userSignOffBtn {
            position: relative;
            bottom: -10px;
            right: 5px;
            background: none;
            border: none;
            color: #fff;
        }

        .userSignOffIcon {
            padding-right: 5px;
        }

        .overflowNone {
            overflow: hidden;
        }
        
    </style>

    <header>
        <nav class="navbar pl-5 navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Policy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="wrapper hold-transition sidebar-mini layout-fixed">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <a href="/" class="logo">Theater App</a>
            <!-- Sidebar -->
            <div class="sidebar layout-fixed overflowNone">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-bolt"></i>
                                <p>
                                    Quick Actions
                                    <i class="right fas fa-plus"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/reservations/" class="nav-link">
                                        <i class="fas fa-concierge-bell nav-icon"></i>
                                        <p>Reservations</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a type="button" data-toggle="modal" data-target="#exampleModal" href="#" class="nav-link">
                                        <i class="far fa-credit-card nav-icon"></i>
                                        <p>Take Payment</p>
                                    </a>
                                </li>


                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="/customers/" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Customers
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/customers/" class="nav-link">
                                        <i class="fas fa-eye nav-icon"></i>
                                        <p>View All Customers</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/customers/create" class="nav-link">
                                        <i class="fas fa-user-plus nav-icon"></i>
                                        <p>New Customer</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-concierge-bell"></i>
                                <p>
                                    Reservations
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/reservations/" class="nav-link">
                                        <i class="far fa-plus nav-icon"></i>
                                        <p>View All Reservations</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/reservations/create" class="nav-link">
                                        <i class="far fa-plus nav-icon"></i>
                                        <p>New Reservation</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/reservations/" class="nav-link">
                                        <i class="far fa-pencil nav-icon"></i>
                                        <p>Edit a Reservation</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/privacy   " class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Policies
                                    <i class="fas fa-angle-right right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/report" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Run a Report
                                    <i class="fas fa-angle-right right"></i>
                                </p>
                            </a>
                            
                        </li>


                        </li>
                    </ul>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="userMarginTop user-panel pb-3 mb-3 d-flex">
                            <div class="info">
                                <h3 class="text-white">Hello,</h3>
                                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">  @User.Identity.Name!</a>


                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="userSignOffBtn text-light">
                                        <i class="userSignOffIcon nav-icon fas fa-sign-out-alt "></i>
                                        Sign Off
                                    </button>
                                </form>

                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="userMarginTop user-panel pb-3 mb-3 d-flex">
                            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">
                                <i class="userSignOffIcon nav-icon fas fa-sign-in-alt "></i>
                                Login
                            </a>
                        </div>
                    }




                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </div>


    <!-- Payments Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Take a Payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Credit card form tabs -->
                    <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-card" class="nav-link active rounded-pill">
                                <i class="fas fa-credit-card"></i>
                                Credit Card
                            </a>
                        </li>
                        @*ENABLE PAYPAL IN THE CLIENT / CUSTOMER FACING VERSION OF THIS APPLICATION. *@
                        @*<li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-paypal" class="nav-link rounded-pill">
                                <i class="fas fa-paypal"></i>
                                PayPal
                            </a>
                        </li>*@
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-bank" class="nav-link rounded-pill">
                                <i class="fas fa-university"></i>
                                ACH Transfer
                            </a>
                        </li>
                    </ul>

                    <!-- Credit card form content -->
                    <div class="tab-content">

                        <!-- credit card info-->
                        <div id="nav-tab-card" class="tab-pane fade show active">
                            <p style="display: none;" class="alert alert-success" id="successfull-alert">Test Payment processed Successfully!</p>
                            <p style="display: none;" class="alert alert-danger" id="error-alert">Test Payment failed to process. ERR:12</p>

                            <form role="form">
                                <div class="form-group">
                                    <label for="username">Customers Full Name (As it apperas on the card)</label>
                                    <input type="text" name="username" placeholder="Jason Doe" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="cardNumber">Number on Card</label>
                                    <div class="input-group">
                                        <input type="text" name="cardNumber" placeholder="Your card number" class="form-control" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted">
                                                <i class="fab fa-cc-visa mx-1"></i>
                                                <i class="fab fa-cc-amex mx-1"></i>
                                                <i class="fab fa-cc-mastercard mx-1"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label><span class="hidden-xs">Expiration Date</span></label>
                                            <div class="input-group">
                                                <input type="number" placeholder="MM" name="" class="form-control" required>
                                                <input type="number" placeholder="YY" name="" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4">
                                            <label data-toggle="tooltip" title="The CVV / Security code are the 3, (4 for Amex) on the back of the card.">
                                                Security Code / CVV
                                                <i class="fa fa-question-circle"></i>
                                            </label>
                                            <input type="text" required class="form-control">
                                        </div>
                                    </div>



                                </div>
                                <div class="modal-footer">
                                    <button onClick="spinner()" type="button" class="btn btn-primary" id="process-payment-btn">
                                        <div class="spinner-div-wrapper">
                                            <i style="display: none; width: 3%; margin-right: 30px;" id="spinner-btn-icn" class="spinner right fas fa-spinner"></i>
                                        </div>
                                        <i style="display: inline-block; width: 3%; margin-right: 25px;" id="solid-icn" class="right fas fa-arrow-circle-right"></i>

                                        <div id="process-text">
                                            Process
                                        </div>
                                    </button>


                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                        <i style="width: 3%; margin-right: 25px;" class="right fas fa-times-circle"></i>
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- End -->
                        <!-- Paypal info ENABLE PAYPAL IN THE CLIENT / CUSTOMER SIDE OF THIS PORTAL APP.-->
                        
                        @*<div id="nav-tab-paypal" class="tab-pane fade">
                            <p>Paypal is easiest way to pay online</p>
                            <p>
                                <button type="button" class="btn btn-primary rounded-pill"><i class="fa fa-paypal mr-2"></i> Log into my Paypal</button>
                            </p>
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>*@
                        <!-- End -->
                        <!-- bank transfer info -->
                        <div id="nav-tab-bank" class="tab-pane fade">
                            <div class="form-group">
                                <label for="cardNumber">Bank Account holders Full Name</label>
                                <div class="input-group">
                                    <input type="text" name="fullName" placeholder="John / Jane Doe" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cardNumber">Routing Number</label>
                                <div class="input-group">
                                    <input type="text" name="routingNumber" placeholder="Routing Number XXX-XXX-XXXX" class="form-control" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cardNumber">Account Number</label>
                                <div class="input-group">
                                    <input type="text" name="accountNumber" placeholder="Account Number XXXX-XXXX-XXXX" class="form-control" required>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cardNumber">Confirm Account Number</label>
                                <div class="input-group">
                                    <input type="text" name="accountNumber" placeholder="Account Number XXXX-XXXX-XXXX" class="form-control" required>

                                </div>
                            </div>

                            <p class="text-muted">
                                Please confirm that you have reviewed all of the above infomration with the customer. In accordance with company policy incorrect payments may result in displinary actions.
                            </p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Yes, I aknoldege and have reviewed the above details with the customer.
                                </label>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                    <!-- End -->
                </div>
               
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="printHidden" class="main-footer">
        <strong>Copyright &copy; 2020 <a href="https://www.mcknight.digital">mcknight.digital</a></strong>
        All Rights Reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 1.0
        </div>
    </footer>

    <script>
                                  

        let spinnerBtn = document.getElementById("spinner-btn-icn");
        let solidIcn = document.getElementById("solid-icn");
        let processTxt = document.getElementById("process-text");
        let successBanner = document.getElementById("successfull-alert");
        let errorBanner = document.getElementById("error-alert");


        function spinner() {
            processTxt.style.display = "none";
            solidIcn.style.display = "none";
            spinnerBtn.style.display = "inline-block";
            successBanner.style.display = "block";

           @* spinnerBtn.classList.remove = "hidden";
            spinnerBtn.classList.add = "spinner"*@

            console.log('Button Clicked');
        }

       
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
