@page
@model TheaterApp.Client.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Edit</h1>

<h4>Customers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customers.ID" />
            <div class="form-group">
                <label asp-for="Customers.FirstName" class="control-label"></label>
                <input asp-for="Customers.FirstName" class="form-control" />
                <span asp-validation-for="Customers.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.LastName" class="control-label"></label>
                <input asp-for="Customers.LastName" class="form-control" />
                <span asp-validation-for="Customers.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.EMailAddress" class="control-label"></label>
                <input asp-for="Customers.EMailAddress" class="form-control" />
                <span asp-validation-for="Customers.EMailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.MailingAddress" class="control-label"></label>
                <input asp-for="Customers.MailingAddress" class="form-control" />
                <span asp-validation-for="Customers.MailingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.City" class="control-label"></label>
                <input asp-for="Customers.City" class="form-control" />
                <span asp-validation-for="Customers.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.State" class="control-label"></label>
                <input asp-for="Customers.State" class="form-control" />
                <span asp-validation-for="Customers.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.PhoneNumber" class="control-label"></label>
                <input asp-for="Customers.PhoneNumber" class="form-control" />
                <span asp-validation-for="Customers.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.SeatingPreference" class="control-label"></label>
                <input asp-for="Customers.SeatingPreference" class="form-control" />
                <span asp-validation-for="Customers.SeatingPreference" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Customers.IsSeasonTicketHolder" /> @Html.DisplayNameFor(model => model.Customers.IsSeasonTicketHolder)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Customers.HasFoodAlergey" /> @Html.DisplayNameFor(model => model.Customers.HasFoodAlergey)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Customers.FoodAlergey" class="control-label"></label>
                <input asp-for="Customers.FoodAlergey" class="form-control" />
                <span asp-validation-for="Customers.FoodAlergey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.EmergencyContactFullName" class="control-label"></label>
                <input asp-for="Customers.EmergencyContactFullName" class="form-control" />
                <span asp-validation-for="Customers.EmergencyContactFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.EmergencyContactPhone" class="control-label"></label>
                <input asp-for="Customers.EmergencyContactPhone" class="form-control" />
                <span asp-validation-for="Customers.EmergencyContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
