@page
@model ReportModel

@{
    ViewData["Title"] = "Reports";
}

<div class="custom-margin-wrapper">
    <h1 class="display-4">Reports</h1>
    <p class="lead">To Run a report, select the options below and click "run"</p>

    <a style="margin-bottom: 400px;" href="/report/customers/" class="btn btn-primary">Run Customers Report</a>

</div>


@*RUNS A FUNCTION ON BUTTON PRESS THAT OPENS THE PRINT WINDOW OF A BROWSER.*@
<script>
    function printOnClick() {
        window.print();
    }
</script>