@media print {
    #printHidden{ display: none; }
    #printVisable{ display: block; }
    #print-area{
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: 0;
    }
   
}
