@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="custom-margin-wrapper">
    <h1 class="display-4">Employee Code of Conduct, <br/> Standards, &amp; Policies.</h1>
    <p class="lead">This what we live by. This is why we do what we do!</p>
</div>
