@page
@model ReportModel
@{
    ViewData["Title"] = "Reports";
}

<div class="custom-margin-wrapper">
    <h1 class="display-4">Reports</h1>
    <p class="lead">To Run a report, select the options below and click "run"</p>
</div>
